
.alert-container {
    display: flex;
    flex-direction: column;
    padding:2rem;
    row-gap: 1rem;
    background-color: whitesmoke;
}

.alert {
    min-width: 30rem;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
}

.alert-info {
   
    background-color:lightskyblue ;
    color:blue;
}

.alert-success {
    
    background-color:lightgreen ;
    color:green;

}

.alert-error {
    background-color:lightpink;
    color:red;

}

.alert-warning {
    background-color:lightsalmon ;
    color:orangered;

}
