body {
    display:flex;
    row-gap: 8rem;
    flex-direction: column;
}


.avatar-img, .avatar-text {
    display: flex;
    justify-content: space-around;
    background: whitesmoke;
    width:50vw;
    height:20vw;
    align-items: center;
    border-radius:5px ;
}

.main {
    display:flex;
    flex-direction: column;
    row-gap: 10rem;
}


.avatar {
    display:flex;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}


.avatar-sm{
    height: 5rem;
    width: 5rem;
    align-items:center;
    justify-content: center;
}

.avatar-md{
    height: 8rem;
    width: 8rem;
}

.avatar-lg{
    height:11rem;
    width: 11rem;
}

.txt1 {
    background-color: #DC2626;
}

.txt2 {
    background-color: #EF4444;;
}

.txt3 {
    background-color: #ee6e73;
}
