

.dot {
    height:1rem;
    width:1rem;
    border-radius: 50%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    right:0;  
}

.notification-badge {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

i {
    font-size:2rem;
    position: relative;
}
