@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('component-style/index.css');
* {
    font-family: 'Arvo', serif;
    --background-color:whitesmoke;
    --color-one:#fc7311;
    --color-two:black;
}

.navigation-logo {
    color: var(--color-one);
    font-size: 3rem;
    font-weight: bolder;
}

.navigation-bar {
    display: flex;
    grid-area:navigation-bar;
    height: 6rem;
    width:100vw;
    background-color: var(--background-color);
    position:fixed;
}

.navigation-text {
    margin-left: auto;
    display: flex;
    column-gap: 5rem;
    padding:4rem;
    color:var(--color-one);
    font-weight: bold;
}

ul {
    list-style: none; 

}

a {
    text-decoration: none;
    color: var(--color-two);
}


.sidebar{
    grid-area: sidebar;
    line-height: 2.5rem;
    background-color: var(--background-color);
    border-radius: 1rem;
    height: 50rem;
    margin-top: 8rem;
    position: fixed;
    color:var(--color-one);
}

body {
    gap: 2rem;
    display:grid;
    grid-template-areas: "navigation-bar navigation-bar navigation-bar navigation-bar"
                         "sidebar main main main"
                         "sidebar main main main"
                         "sidebar main main main"
                         "sidebar main main main"
                         "footer footer footer footer";

}

.main {
    grid-area:main;
    margin-left: 12rem;
    margin-top: 8rem;
    display: flex;
    
    row-gap: 2rem;
}

p {
    font-weight: bold;
    color: var(--color-one);
}

.footer {
    grid-area:footer;
    background-color:var(--background-color);
}

.social-media {
    display:flex;
    justify-content: center;
}

.social-media-icon {
    width: 2rem;
    height:2rem;
}

.footer-text {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.get-started-page-content{
    margin-top: 8rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.get-started-page-content>h3 {
   padding-top: 0;
   margin-top: 0;

}

.elucidate {
    margin-left: 15rem;    
}

.content{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}



